@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #2e1065;
    color: whitesmoke;
}

.container {
    display: block;
    /* background-color: #2e1065; */
    padding: 1rem;
    text-align: center;
}

hr {
    margin-top: 1.5rem;
    /* margin-bottom: 1rem; */
    border-color: whitesmoke;
}

.container .title-div {
    @media screen and (max-width: 1300px) {
        font-size: smaller;
        display: inline;
    }
    font-size: 32px;
    background-color: #4c1d95;
    display: inline;
    padding-top: 0.7rem; 
    padding-bottom: 0.7rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 2rem;
}

::placeholder {
    color: whitesmoke;
    font-size: 1.5vh;
}

.container p {
    background-color: transparent;
    font-size: x-large;
    margin-bottom: 0.1rem;
}

.container input {
    border-radius: 1rem;
    text-align: center;
    background-color: #4c1d95;
    padding: 0.5rem 1rem;
}

.container button {
    border-radius: 1rem;
    margin-top: 10px;
    margin-bottom: -100%;
    padding: 0.2rem 1rem;
    background-color: whitesmoke;
    color: rgb(91, 30, 91);
}


/* hide input[arrows]; */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}


.output-div {
    text-align: center;
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
    display: inline; 
}
